.studioyogo {
  width: 100%;
}
.studioyogo-wrapper {
  width: 58%;
  margin-inline: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.studioyogo-wrapper h2 {
  font-family: "Inter";
  font-size: 40px;
  text-align: center;

}
.studioyogo-wrapper span {
  margin-top: 20px;
  font-size: 24px;
  font-family: "Inter";
  text-align: center;
  color: #959E9C;
}

.card-contents{
  width: 100%;
  padding: 5vh;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}


@media only screen and (max-width: 780px) {
  .studioyogo-wrapper{
    width: 85%;
    margin: auto;
    }
    .studioyogo-wrapper h2{
      font-size: 35px; 
    }
}