* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* 
.nav-warrper {
  width: 100%;
  background-color: #39514a;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}
.nav-warrper img {
  width: 60px;
  height: 60px;
  margin: 0 50px;
}
.nav-warrper ul {
  margin-right: 20px;
}
.nav-warrper ul li {
  display: inline-block;
  margin: 0 10px;
}
.nav-warrper ul li a {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}
.active:focus{
    color: red;

}

.menu-icon {
  font-size: 40px !important;
  color: white;
  display: none !important;
  margin-right: 40px;
  margin-bottom: 20px;
}

.btn-sign-in {
  width: 155px;
  padding: 10px;
  border-radius: 8px;
  border: 3px solid #57b99d;
  background-color: #39514a;
  color: white;
  outline: none;
}
@media only screen and (max-width: 750px) {
  .nav-warrper img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
  }
  .menu-icon {
    display: block !important;
  }
  ul {
    position: fixed;
    top: 80px;
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
  }
  .nav-warrper ul li {
    display: block;
    margin-top: 30px;
    text-align: center;
  }
  .activenav{

    display: none;
  }

  .active-list{
    display: none;
  }
} */

/* ---------------- */
.navbar{
  display: flex;
  justify-content: space-around;
  height: 75px;
  background-color: #39514a;
  color: white;
  align-items: center;
  width: 100%;
}
.nav-link{
  display: flex;
  justify-content: flex-end;
  width: 75%;
  list-style: none;
}
.link-list{
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  margin: 0px 10px;
  cursor: pointer;
  font-size: 24px;

}
.nav-signin{
  border: 1px solid yellow;
  border-radius: 5px;
}
.mobile-menu-icon{
  display: none;
}
.menu-icon, .cancel-icon{
  font-size: 40px !important;
  background-color: #39514a;
  color: white;


}
@media only screen and (max-width: 780px) {
  .nav-logo {
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px; 
  }
 
  .nav-link{
    display: none;
  }

  .mobile-nav-link{
    position: absolute;
    display: block;
    list-style: none ;
    background-color: #005469;
    left: 0;
    top: 74px;
    transition: all 1s ease-out;
    width: 100%;
    /* height: 100vh; */
  }
  .link-list{
    display: block;
    color: white;
    text-align: center;
    width: 100%;
    transition: 1s ease-out;
    padding: 32px;
  }
  .mobile-menu-icon{
    display: block;
    position: absolute;
    border: none;
    outline: none;
    top: 15px;
    right: 25px;

  }
  .nav-signin{
    display: none;
  }
}