.homebanner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10%;
    
}
.banner-left{
    padding: 50px 0px 0px 50px;

}
.banner-containt{
    width: 480px;
    display: flex;
    flex-direction: column;
    
}
.banner-containt span{
font-size: 20px;
font-family: 'Inter';
color: #959E9C;
margin: 20px 0;
}
.banner-containt h2{
    font-family: 'Inter';
    font-size: 48px;
}
.banner-btn{
width: 120px;
padding: 15px;
background: #57B99D;
border-radius: 10px;
border: none;
color: white;
font-size: 20px;
}
.banner-left{
    width: 50%;
}
.banner-right{
    width: 50%;

}
.banner-right img{
    width: 100%;
}

@media only screen and (max-width: 780px) {
    .homebanner {
        display: flex;
        flex-direction: column-reverse; 
    }
    .banner-left{
        padding: 10px 0;
    }
    .banner-left, .banner-right{
        width: 100%;
    }
   .banner-left .banner-containt{
        width: 85%;
        text-align: center;
        padding: 20px 0px;
        margin: auto;

    }
    .banner-left .banner-containt h2{
        font-size: 35px;
    }
    .banner-btn{
        margin: auto;
    }
    /*  */

  }